{
    "extends": [
        "plugin:react/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "babelOptions": {
            "configFile": "./.babelrc.js"
        }
    }
}